name: Docs

on:
  push:
    branches:
      - main
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
  pull_request:

env:
  GFP_API_KEY: ${{ secrets.GFP_API_KEY }}

jobs:
  run-notebooks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - name: Install UV
        uses: astral-sh/setup-uv@v5
      - name: Install Just
        uses: taiki-e/install-action@just
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y libglu1-mesa libosmesa6 xvfb
      - name: Create environment
        run: just dev
      - name: Create ipykernel
        run: uv run --no-sync python -m ipykernel install --user --name gsim
      - name: Run notebooks
        run: |
          for nb in $(find nbs -name "*.ipynb" -not -path "*/.ipynb_checkpoints/*" | sort); do
            dir=$(dirname "$nb")
            filename=$(basename "$nb")
            (cd "$dir" && xvfb-run -a uv run --no-sync papermill "$filename" "$filename" -k gsim)
          done
      - name: Upload executed notebooks
        uses: actions/upload-artifact@v4
        with:
          name: nbs
          path: nbs
          retention-days: 1

  build:
    name: Build Docs
    runs-on: ubuntu-latest
    needs: run-notebooks
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - name: Install UV
        uses: astral-sh/setup-uv@v5
      - name: Install Just
        uses: taiki-e/install-action@just
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: Install svgbob
        run: cargo install svgbob_cli
      - name: Create environment
        run: just dev
      - name: Download all notebook artifacts
        uses: actions/download-artifact@v4
        with:
          name: nbs
          path: nbs
      - name: Build docs
        run: |
          just nbdocs
          just docs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site

  pages:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || (startsWith(github.ref, 'refs/tags/') && !contains(github.ref_name, 'a') && !contains(github.ref_name, 'b') && !contains(github.ref_name, 'rc') && !contains(github.ref_name, 'post')))
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
